

/*Estilo para smartphone*/
@media only screen and (max-width: 767px) {

.introduction {
	height: 400px;
}

.introduction .members li p, .introduction .members span {
	font-size: 1.1em;
}

.introduction img {
	margin: 20px auto;
}

.introduction .members span {
	padding-bottom: 15px;
	margin: 0 10px;
}

.subtitulo {	
	font-size: 4.5em;
}

.menu {
	margin-top: 50px;
}

.introduction .menu li {
	font-size: 1em;
}

.introduction .menu span {
	margin: 0 20px;
}

.list_shows .date {
	text-align: center;
	font-size: 2.32em;
}

.list_shows ul .info h3, .info p, .list_shows .call, .btn {
	font-size: 1.53em;
}

.copy-info {
	margin-bottom: 0px;
}

.copy-info p, .copy-info a span {
	font-size: 1em;
}

.copy-info a span {
	margin-left: 15px;
}

.list_shows ul li {
	padding: 10px 0;
}



} /* Final do estilo para smartphone 