@import url('https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i|New+Rocker');

body {
	font-family: 'New Rocker', cursive;
}

p, li, span {
	font-family: 'IM Fell English', serif;
	font-size: 1em;
	color: #FFF;
}

img {
	display: block;
	max-width: 100%;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?qdaolx');
	src:  url('../fonts/icomoon.eot?qdaolx#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?qdaolx') format('truetype'),
	url('../fonts/icomoon.woff?qdaolx') format('woff'),
	url('../fonts/icomoon.svg?qdaolx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

  	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rock-n-roll:before {
	content: "\e900";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}


/* Header */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #FFF; /* Branco */
	padding: 15px 0;
	z-index: 10;
}

/* Introduction */

.introduction {
	width: 100%;
	height: 500px;
	background: url("../img/bg.png") no-repeat center;
	background-size: cover;
	background-color: #000;
	text-align: center;
	border: 10px solid #000;
}

.introduction img {
	margin: 0 auto;
}

.introduction ul {
	padding-top: 40px;
	padding-bottom: 60px;
}

.introduction ul li {
	display: inline-block;
}

.introduction .members li p, .introduction .members span {
	font-size: 2.1em;
	text-transform: uppercase;
	text-align: center;
}

.introduction .members span {
	padding-bottom: 15px;
	margin: 0 40px;
}

.introduction .menu li {
	font-size: 1.7em;
	text-align: center;
}

.introduction .menu li a {
	color: #FFF;
}

.introduction .menu li a:hover, .copy-info a span:hover {
	color: #5f1413;
}

.introduction .menu span {
	margin: 0 20px;
}


.shows {
	background-color: #000;
	padding-bottom: 60px;
}

.subtitulo {
	color: #ee3230;
	margin: 0 auto;
	text-align: center;
	font-size: 5.1em;
	text-transform: uppercase;
}

.shows .subtitulo:before {
	content: "...";
	display: block;
	padding-bottom: 20px;
	text-align: center;
}

.subtitulo_descricao {
	text-align: center;
	color: #666;
	font-size: 1.28em;
	font-style: italic;
}

.list_shows {
	padding-top: 40px;
}
.list_shows ul {
	border-top: 3px solid #666;
}

.list_shows ul li {
	display: inline-block;
	padding: 30px 0;
	color: #666;
}

.list_shows .date {
	font-size: 2.58em;
	text-align: left;
}


.list_shows ul .info h3 {
	font-size: 1.71em;
	text-align: center;
}

.info p {
	font-size: 1.71em;
	font-style: italic;
	text-align: center;
	color: #666;
}

.list_shows .call {
	font-size: 1.7em;
	text-align: center;
}

.list_shows ul:last-of-type {
	border-bottom: 3px solid #666;
	margin-bottom: 40px;
}

.call a {
	color: #666;
}

.call a:hover {
	color: #5f1413;
}

.call span {
	color: #5f1413;
}


.btn:before,  .btn:after {
	content: "";
	display: block;
	height: 3px;
	width: 150px;
	background: #ee3230;
	margin: 0px auto 10px auto;
}

.btn:after {
	margin: 10px auto 0px auto;
}

.btn {
	color: #ee3230;
	text-align: center;
	font-family: 'IM Fell English', serif;
	font-size: 1.7em;
}

.btn:hover {
	color: #5f1413;
}

.more_shows {
	text-align: center;
}

/* ALbums */

.albums {
	background-color: #ee3230;
	padding: 60px 0;
}

.albums .subtitulo {
	color: #FFF;
}

.albums .subtitulo_descricao {
	color: #691615;
}

.discos {
	padding-top: 40px;
}

.discos p {
	font-size: 1.3em;
}


/* */
.copy {
	width: 100%;
	background: #000;
	padding: 20px 0;
}

.copy-info p {
	color: #FFF;
	font-size: 1.1em;
	font-weight: normal;
}

.copy-info a span {
	float: right;
	font-size: 1.55em;
	color: #FFF;
	margin-left: 20px;
}

.copy-contact a span:hover {
	color: #5f1413;
}